name: release
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    name: Build multi-platform binaries
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu }
          - { os: macos-latest, target: x86_64-apple-darwin }
          - { os: macos-latest, target: aarch64-apple-darwin }
          - { os: windows-latest, target: x86_64-pc-windows-msvc }
    runs-on: ${{ matrix.platform.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Building ${{ matrix.platform.os }}-${{ matrix.platform.target }}
        uses: ./.github/actions/build-cli
        with:
          runner_os: ${{ matrix.platform.os }}
          target_platform: ${{ matrix.platform.target }}
          rust_toolchain: "stable"
      - name: Create compressed binary for krew on Windows environment
        if: matrix.platform.os == 'windows-latest'
        run: |
          Copy-Item -Path LICENSE -Destination target/${{ matrix.platform.target }}/release/
          Compress-Archive -Path target/${{ matrix.platform.target }}/release/kimspect.exe, target/${{ matrix.platform.target }}/release/LICENSE -DestinationPath target/${{ matrix.platform.target }}/release/kimspect-${{ matrix.platform.target }}.zip -Update
          Move-Item -Path target/${{ matrix.platform.target }}/release/kimspect.exe -Destination target/${{ matrix.platform.target }}/release/kimspect-${{ matrix.platform.target }}.exe -Force

      - name: Create compressed binary for krew on Unix-like environments
        if: matrix.platform.os != 'windows-latest'
        run: |
          cp LICENSE target/${{ matrix.platform.target }}/release/
          tar -czvf target/${{ matrix.platform.target }}/release/kimspect-${{ matrix.platform.target }}.tar.gz -C target/${{ matrix.platform.target }}/release kimspect LICENSE
          mv target/${{ matrix.platform.target }}/release/kimspect target/${{ matrix.platform.target }}/release/kimspect-${{ matrix.platform.target }}
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.platform.target }}
          path: |
            target/${{ matrix.platform.target }}/release/kimspect-${{ matrix.platform.target }}
            target/${{ matrix.platform.target }}/release/*.zip
            target/${{ matrix.platform.target }}/release/*.exe
            target/${{ matrix.platform.target }}/release/*.tar.gz

  release-github-krew-and-homebrew:
    name: Create Release, Publish Crate, and Update Homebrew & Krew
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    concurrency:
      group: release-github-krew-and-homebrew
      cancel-in-progress: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Download All Build Artifacts
        uses: actions/download-artifact@v6
        with:
          path: dist/
      - name: List downloaded files
        run: ls -lahR dist/

      - name: Create GitHub Release and Upload Assets
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update new version for kimspect in krew-index
        uses: rajatjindal/krew-release-bot@v0.0.47
        with:
          krew_template_file: .krew/kimspect.yml

      - name: Update Homebrew Tap
        uses: ./.github/actions/update-homebrew
        with:
          tap_repo: koithos/homebrew-kimspect
          release_tag: ${{ github.ref_name }}
          repository: ${{ github.repository }}
          amd64_artifact_name: kimspect-x86_64-apple-darwin
          arm64_artifact_name: kimspect-aarch64-apple-darwin
          amd64_artifact_path: dist/x86_64-apple-darwin/kimspect-x86_64-apple-darwin
          arm64_artifact_path: dist/aarch64-apple-darwin/kimspect-aarch64-apple-darwin
          tap_token: ${{ secrets.HOMEBREW_TAP_TOKEN }}
